.graph-wrapper {
  // background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  .fulltext {
    display: none;
    span {
      background: #ccc;
    }
  }
  .text-wrapper {
    cursor: pointer;
    &:hover {
      .fulltext span {
        display: block;
      }
    }
  }
}
