.title {
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 25px;
    position: relative;
    border-bottom: 1px solid #f3f6f9;
    // background-color: #fff;
    &:before {
        content: '';
        display: block;
        width: 4px;
        height: 15px;
        position: absolute;
        top: 8px;
        left: 12px;
        background-color: #2079ff;
    }
}
