.expert-info {
    width: 100%;
    height: 360px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    .expert-head {
        padding-top: 15px;
        .expert-head-wrapper {
            width: 92px;
            height: 92px;
            overflow: hidden;
            margin: 0 auto;
            border-radius: 50%;
            border: 1px solid #e8e8e8;
            img {
                width: 80%;
                object-fit: cover;
            }
        }
        h5 {
            font-size: 16px;
            padding-top: 15px;
            color: #222;
        }
        span {
            display: block;
            padding-top: 15px;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000;
        }
    }
    ul {
        padding-top: 28px;
        color: #000;
        li {
            width: 165px;
            height: 44px;
            padding: 0px 10px;
            background: #f3f6f9;
            margin-bottom: 15px;
            float: left;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            &:nth-child(2n + 1) {
                margin-right: 10px;
            }
            span {
                // line-height: 16px;
                font-size: 12px;
                white-space: nowrap;
            }
            b {
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width: 1440px) {
    .expert-info {
        height: 293px;
        padding: 15px 10px;
        .expert-head {
            padding-top: 10px;
            .expert-head-wrapper {
                width: 73px;
                height: 73px;
            }
            h5 {
                font-size: 14px;
            }
            span {
                padding-top: 10px;
                font-size: 10px;
            }
        }
        ul {
            padding-top: 25px;
            li {
                width: 135px;
                height: 35px;
                box-sizing: border-box;
                margin-bottom: 10px;
                span {
                    width: 45px;
                    word-break: keep-all;
                    white-space: pre-wrap;
                    line-height: 14px;
                }
                b {
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-width: 1280px) {
    .expert-info {
        height: 263px;
        padding: 15px 10px;
        .expert-head {
            padding-top: 0px;
            .expert-head-wrapper {
                width: 60px;
                height: 60px;
            }
            h5 {
                font-size: 14px;
            }
            span {
                padding-top: 10px;
                font-size: 10px;
            }
        }
        ul {
            padding-top: 25px;
            li {
                width: 120px;
                height: 35px;
                box-sizing: border-box;
                margin-bottom: 10px;
                padding: 0 5px;
                span {
                    width: 45px;
                    word-break: keep-all;
                    white-space: pre-wrap;
                    line-height: 14px;
                }
                b {
                    font-size: 14px;
                }
            }
        }
    }
}
