.graph-page-wrapper {
  h2 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    padding-left: 20px;
    background: #fff;
    box-sizing: border-box;
    margin: 0;
  }
  .container {
    width: 100%;
    height: calc(100vh - 60px);
    background: rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-wrapper {
      height: 100%;
      padding: 0 15px;
      .search-wrapper {
        position: relative;
        .example-btn {
          color: #1890ff;
          text-decoration: underline;
          padding-left: 10px;
          cursor: pointer;
        }
        .show-example {
          display: block;
        }
        .examples-wrapper {
          width: 500px;
          // height: 400px;
          position: absolute;
          right: 280px;
          top: 45px;
          background: #fff;
          border-radius: 5px;
          padding: 8px;
          text-align: left;
          box-sizing: padding-box;
          display: none;
          &:before {
            content: '';
            width: 0px;
            height: 0px;
            border: 8px solid transparent;
            border-bottom: 8px solid #fff;
            position: absolute;
            right: 20px;
            top: -16px;
          }
          section {
            :global .ant-btn {
              margin-bottom: 5px;
            }
            .active {
              color: #fff;
              background-color: #1890ff;
            }
          }
          :global .ant-btn {
            margin-right: 5px;
          }
          .example-footer {
            width: 100%;
            bottom: 2px;
            right: 0;
            text-align: right;
            padding-top: 7px;
            border-top: 1px solid #eee;
          }
        }
      }
      .toggle-btn-group {
        text-align: left;
      }
    }
    .aside-wrapper {
      width: 300px;
      height: 100%;
      background: #fff;
    }
    .aside-left-wrapper {
      background: #fff;
    }
  }
}
