.graph-page-wrapper {
  h2 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    padding-left: 20px;
    background: #fff;
    box-sizing: border-box;
    margin: 0;
  }
  .container {
    width: 100%;
    height: calc(100vh - 60px);
    background: rgba(0, 0, 0, 0.1);
    padding: 25px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-wrapper {
      min-width: 1150px;
      height: 100%;
      padding: 0 15px;
      .search-wrapper {
        position: relative;
        .example-btn {
          color: #1890ff;
          text-decoration: underline;
          padding-left: 10px;
          cursor: pointer;
        }

        .examples-wrapper {
          width: 500px;
          min-height: 400px;
          position: absolute;
          right: 215px;
          top: 50px;
          border-radius: 5px;
          padding: 8px;
          text-align: left;
          box-sizing: border-box;
          display: none;
          z-index: 2;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
          &:before {
            content: '';
            width: 0px;
            height: 0px;
            border: 8px solid transparent;
            border-bottom: 8px solid #fff;
            position: absolute;
            right: 20px;
            top: -16px;
          }
          section {
            :global .ant-btn {
              margin-bottom: 5px;
            }
            .active {
              color: #1890ff;
              border-color: #1890ff;
            }
          }
          :global .ant-btn {
            margin-right: 5px;
          }
          .example-footer {
            width: 100%;
            bottom: 2px;
            right: 0;
            text-align: right;
            padding-top: 7px;
            border-top: 1px solid #eee;
          }
        }
        .show-example {
          display: block;
        }
      }
      .toggle-btn-group {
        text-align: left;
        :global .ant-radio-button-wrapper-checked {
          background: #1890ff;
          color: #fff;
        }
      }
    }
    .aside-wrapper {
      flex: 0 0 370px;
      width: 300px;
      height: 100%;
      .statistics-wrapper {
        margin-bottom: 10px;
        span {
          display: inline-block;
          background: #fff;
          border-radius: 5px;
          width: 180px;
          height: 45px;
          line-height: 45px;
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
    .aside-left-wrapper {
    }
  }
}
// 示例modal
// :global .ant-modal-body {
//   padding: 10px;
//   section {
//     :global .ant-btn {
//       margin-bottom: 5px;
//     }
//     .active {
//       color: #1890ff;
//       border-color: #1890ff;
//     }
//   }
//   &:before {
//     content: '';
//     width: 0;
//     height: 0;
//     border: 8px solid transparent;
//     border-bottom: 8px solid #fff;
//     position: absolute;
//     right: 30px;
//     top: -15px;
//   }
//   :global .ant-btn {
//     margin-right: 5px;
//   }
//   footer {
//     width: 100%;
//     bottom: 2px;
//     right: 0;
//     text-align: right;
//     padding-top: 7px;
//     border-top: 1px solid #eee;
//   }
// }
